################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StorageAccount-PoC/StorageAccountApp/.vs/StorageAccountApp
